<%= form_with(model: book_store) do |form| %>
  <% if book_store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_store.errors.count, "error") %> prohibited this book_store from being saved:</h2>

      <ul>
        <% book_store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
